@model IQRecruitmentTool.Models.AssesSection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssesSection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComapnyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComapnyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
