@model IEnumerable<IQRecruitmentTool.Models.CandidateLanguage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
       
            @Html.ActionLink("Details", "Details", new { id=item.CandidateLanguageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandidateLanguageID })
        
    </tr>
}

</table>
