@model IQRecruitmentTool.Models.CandidateSkill




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="checkout">
        <div class="container">
            <div class="row">

                <div class="col-md-8 mr-auto text-left mt40 mb40">
                    <div class="section-heading">
                        <h5>Qualifications</h5>
                        <hr class="
                            ">
                    </div>


                    <div class="col-lg-6 ">
                        <label>Skill</label>
                    </div>
                    <div class="col-lg-5 ">
                        @Html.EditorFor(model => model.Skill, new { htmlAttributes = new { @class = "input-text", placeholder = "Skill" } })
                    </div>
                    <div class="col-lg-1 ">
                        @Html.ValidationMessageFor(model => model.Skill, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6 ">
                        <label>Experience</label>
                    </div>
                    <div class="col-lg-5 ">
                        @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "input-text", placeholder = "Number Of Years" } })
                    </div>
                    <div class="col-lg-1 ">
                        @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-lg-6 ">
                        <label>Competency</label>
                    </div>
                    <div class="col-lg-6 ">
                        @Html.DropDownListFor(model => model.Competency, (SelectList)ViewBag.Competency, "Please select competency", new { htmlAttributes = new { @class = "input-text" } })
                    </div>
                    <div class="col-lg-6 ">
                        @Html.ValidationMessageFor(model => model.Competency, "", new { @class = "text-danger" })
                    </div>




                </div>
            </div>
        </div>

        <div class="col-md-6 mr-auto text-center mt40 mb40">
            <button type="submit" value="Create" class=" btn btn-lg btn-primary btn-square btn-appear">Submit</button>
        </div>

    </section>

}
