@model IQRecruitmentTool.Models.AssessQuestionStorage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssessQuestionStorage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
