@model IQRecruitmentTool.Models.Jobs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateRequirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateRequirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentBasisID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentBasisID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPositions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPositions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapturedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapturedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CapturedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapturedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLevelID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLevelID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AdvertDateSartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvertDateSartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonths)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
