@model IQRecruitmentTool.Models.StorageCompany

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StorageCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyRegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyRegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyTelephoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyTelephoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TownID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TownID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearsInBusiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsInBusiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessSector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessSector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeeLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
